pko-timeline-tabs([minified]="minified$ | async", *ngIf="timeline$ | async as timeline")
    pko-timeline-tab(*ngFor="let element of timeline; index as i", [timelineItem]="element") Timeline! {{ i }}
