@import 'variables';
@import 'bootstrap/tools';

.timeline {
    position: relative;

    &__messages {
        position: absolute;
        top: calc(100% - 74px);
        right: 0;
        display: flex;
        justify-content: flex-end;
    }

    &__envelope {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 74px;
        height: 74px;
        background: $pko-primary;
        border-radius: 50%;

        &:before {
            content: '';
            background: url("/assets/icons/envelope.svg") no-repeat;
            background-size: 100%;
            width: 37px;
            height: 29px;
        }
    }

    &__message-badge {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        right: 0;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        background-color: #ca171d;
        font-size: 11px;
        color: $pko-white;
        border: 1px solid $pko-white;
    }

    @include media-breakpoint-down(md) {
        &__messages {
            position: fixed;
            right: 15px;
            top: calc(100% - 74px - 65px);
        }
    }
}
