.timeline
    pko-timeline-tabs(
        *ngIf="timeline$ | async as timeline",
        [minified]="minified$ | async",
        [timeline]="timeline",
        (interactionEvent)="onEventReceived($event)")
    .timeline__messages
        a.timeline__envelope(routerLink="../wiadomosci", [queryParams]="{ focus: 'keep' }")
            span.timeline__message-badge(*ngIf="unreadMessagesCount$ | async as unreadMessagesCount") {{ unreadMessagesCount }}
