@import 'bootstrap/tools';
@import 'variables';

.signin-form {
    padding: 1rem;

    &__phone-control {
        height: $pko-huge-control-height;
    }

    &__title {
        margin-bottom: 2rem;
        text-align: center;
    }

    &__submit-row {
        margin-top: 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__submit-btn {
        min-width: 135px;
    }

    &__secondary-action {
        display: flex;
    }

    &__action {
        font-size: $pko-caption-size + 1px;
        margin-right: 1rem;
    }

    @include media-breakpoint-down(sm) {
        &__phone-control {
            height: 48px;
        }

        &__title {
            font-size: $pko-h4-size;
            margin-bottom: 1rem;
        }

        &__submit-row {
            flex-direction: column-reverse;
        }

        &__submit-btn,
        &__secondary-action {
            min-width: 100%;
        }

        &__secondary-action {
            margin-top: 1rem;
            justify-content: space-between;
        }

        &__action {
            margin: 0;
        }
    }
}
