$pko-bottom-sheet-width-increment: 64px;

.bottom-sheet-container {
    padding: 1rem 1.5rem;
    min-width: 100vw;
    box-sizing: border-box;
    display: block;
    outline: 0;
    max-height: 80vh;
    overflow: auto;
    box-shadow: 0 8px 10px -5px rgba(0, 0, 0, .2), 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: $pko-white;
    color: $pko-black;

    @include media-breakpoint-up(sm) {
        min-width: calc(100vw - #{$pko-bottom-sheet-width-increment * 2});
        max-width: calc(100vw - #{$pko-bottom-sheet-width-increment * 2});
    }

    @include media-breakpoint-up(lg) {
        min-width: $pko-bottom-sheet-width-increment * 10;
        max-width: calc(100vw - #{$pko-bottom-sheet-width-increment * 4});
    }

    @include media-breakpoint-up(xl) {
        min-width: $pko-bottom-sheet-width-increment * 12;
        max-width: calc(100vw - #{$pko-bottom-sheet-width-increment * 6});
    }
}
