.logo {
    display: inline-block;
    margin-top: -7px;
    height: auto;

    &--small {
        width: map-get($pko-logo-size, small);
    }

    &--medium {
        width: map-get($pko-logo-size, medium);
    }
}
