.pko-menu {
    white-space: nowrap;
    padding: 6px 10px;
    background: rgba(97, 97, 97, .9);
    color: $pko-white;
    border-radius: $pko-border-radius;

    &--arrow-right {
        &:after {
            left: calc(100% - 20px);
        }
    }
}
