.user-menu(cdk-overlay-origin, #origin="cdkOverlayOrigin")
    .user-menu__icon((click)="openContextTip()") {{ user.name | initials }}
    .user-menu__name(*ngIf="!minified") {{ user.name }}

ng-template(
    cdk-connected-overlay,
    cdkConnectedOverlayLockPosition,
    cdkConnectedOverlayHasBackdrop,
    cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop",
    cdkConnectedOverlayPanelClass="mt-2",
    [cdkConnectedOverlayOrigin]="origin",
    [cdkConnectedOverlayOpen]="tooltipShowing",
    (backdropClick)="closeContextTip()")
    .pko-menu.user-menu__tooltip.m-0 {{ user.name }}
