@import 'bootstrap/tools';
@import 'variables';

.file-zone {
    &__box {
        display: flex;
        min-height: 195px;
        border: 2px dashed $pko-gray-4;
        background: transparent;
        transition: background-color .3s linear;
        padding: 1rem;
    }

    &__title {
        text-align: center;
    }

    &__hidden-input {
        position: absolute;
        display: none;
        opacity: 0;
    }

    &__info {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    &__type-select {
        width: 100%;
        max-width: 340px;
    }

    &__add-from-drive {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__take-pic,
    &__add-from-drive-title {
        display: inline-flex;
        align-items: center;
        margin-left: 0.5rem;
    }

    @include media-breakpoint-down(md) {
        &__box {
            flex-direction: column;
        }

        &__info {
            background: transparent;
        }

        &__submit {
            width: 100%;
        }
    }
}
