.file-zone([formGroup]="form")
    .file-zone__box((dragDrop)="onDocumentsDropped($event)")
        .file-zone__info
            .text.text--regular.file-zone__title.mb-3 {{ addDocumentTitle | translate }}
            label.btn.btn-light.file-zone__add-from-drive([for]="fileFor")
                span.file-zone__add-from-drive-title([class.using-gallery]="mobile") {{ addDocumentActionTitle | translate }}
            button.btn.btn-light.file-zone__add-from-drive(*ngIf="mobile", type="button", translate) FILE_UPLOAD.TAKE_PHOTO
            ng-container(*ngIf="!mobile")
                ng-container(*ngTemplateOutlet="fileTypeSelectTmpl")
            input.file-zone__hidden-input(type="file", [id]="fileFor", [accept]="acceptDocumentType", [multiple]="multiple", (change)="addFromDrive($event)")
    .form-group.mt-3(*ngIf="mobile")
        label(translate) FILE_UPLOAD.SELECT_TYPE
        ng-container(*ngTemplateOutlet="fileTypeSelectTmpl")

ng-template(#fileTypeSelectTmpl)
    ng-container([formGroup]="form")
        pko-select.file-zone__type-select(*ngIf="withDocumentType", formControlName="documentType", [placeholder]="documentTypePlaceholder | translate")
            pko-option(*ngFor="let documentType of documentTypes", [value]="documentType") {{ 'DOCUMENT_TYPE.' + documentType | translate }}
