.row.messages-view
    .col-12
        pko-messenger(
            [messages]="messages$ | async",
            [unreadMessagesCount]="unreadMessagesCount$ | async",
            [scrollToBottom]="true",
            [focusMessageInput]="true",
            (sendMessage)="onSendMessage($event)"
        )
