.row
    .col-12
        h2.text.text--h2.text--divider-bottom Śledź na bieżąco postęp w likwidacji Twojej szkody. Wystarczy, że zarejestrujesz się za pomocą poniższego formularza.
        pko-signup-form((submitted)="signup($event)")
