@import 'bootstrap/tools';

.error-dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;

    &__ok {
        width: 100%;
        max-width: 385px;
    }

    &__message {
        text-align: center;
    }

    @include media-breakpoint-down(sm) {
        &__ok {
            max-width: 100%;
        }
    }
}
