.document
    .document__icon
        svg-icon(src="assets/icons/file.svg", [svgStyle]="{ 'width.px': '36', 'height.px': '36' }" )
    .document__body
        .document__info
            .document__name.document__name--reader(*ngIf="hrefToGet; else fileWithNoPreviewTmpl", [documentReader]="hrefToGet") {{ filename }}
            .document__date(*ngIf="postDate") {{ postDate | date: 'EEE dd.MM.yy | H:mm' }}
        .document__remove(*ngIf="removeable", role="button", (click)="removed.emit()")
            svg-icon(src="assets/icons/trash.svg")

ng-template(#fileWithNoPreviewTmpl)
    .document__name {{ filename }}
