@import 'variables';
@import 'bootstrap/tools';

:host {
    display: block;
}

.document {
    display: flex;
    align-items: center;

    &__icon {
        margin-right: 0.75rem;
        background: url('assets/icons/file.svg') no-repeat;
        background-size: 36px;
        width: 36px;
        height: 36px;
    }

    &__body {
        flex: 1;
        display: flex;
        align-items: center;
    }

    &__remove {
        cursor: pointer;
        margin-left: 1rem;
    }

    &__date {
        margin-top: 0.25rem;
        font-size: 10px;
        color: $pko-gray-5;
    }

    &__name {
        color: $pko-black;
        font-size: $pko-default-size;
    }
}
