.document
    .document__icon
        img(src="assets/icons/pdf.svg", [alt]="filename")
    .document__body
        .document__name {{ filename }}
        .document__date(*ngIf="postDate") {{ postDate | date: 'EEE dd.MM.yy | H:mm' }}
