@import 'variables';
@import 'bootstrap/tools';

.claim-details {
    position: relative;

    &__messages {
        display: flex;
        justify-content: flex-end;
        position: fixed;
        right: 5%;
        bottom: 74px;
    }

    &__envelope {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 74px;
        height: 74px;
        background: $pko-primary;
        border-radius: 50%;
    }

    &__message-badge {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        right: 0;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        background-color: #ca171d;
        font-size: 11px;
        color: $pko-white;
        border: 1px solid $pko-white;
    }
}
