.container
    .row(*ngIf="selectedClaim$ | async as claim")
        .col-12
            a.link.link--back(routerLink="/", translate) CLAIM_DETAILS.RETURN
            .h5.text.text--bold.mt-4.mb-2 {{ 'CLAIM_DETAILS.CLAIM' | translate }}: {{ claim.claimUUID }}
            .text.text--thin.mb-md-4 {{ 'CLAIM_DETAILS.PATRON' | translate }}: {{ claim.adjusterName }}
        .col-12
            pko-nav-menu
                pko-nav-menu-item(path="./os-czasu") Oś czasu
                pko-nav-menu-item(path="./dokumenty") Dokumenty
                pko-nav-menu-item(path="./wiadomosci") Wiadomości
            router-outlet
