.claim-details.container
    .row(*ngIf="selectedClaim$ | async as claim")
        .col-12
            a.link.link--back(*ngIf="hasManyClaims$ | async", routerLink="/", translate) CLAIM_DETAILS.RETURN
            .h5.text.text--bold.mt-4.mb-2 {{ 'CLAIM_DETAILS.CLAIM' | translate }}: {{ claim.businessNumber }}
            .text.text--thin.mb-4 {{ 'CLAIM_DETAILS.PATRON' | translate }}: {{ claim.adjusterName }}

            pko-claim-status.d-block.mb-2([task]="currentTask$ | async")
        .col-12
            pko-nav-menu
                pko-nav-menu-item(path="./os-czasu") {{ 'CLAIM_DETAILS.TIMELINE' | translate }}
                pko-nav-menu-item(path="./dokumenty") {{ 'CLAIM_DETAILS.DOCUMENTS' | translate }}
                pko-nav-menu-item(path="./wiadomosci", [badge]="unreadMessagesCount$ | async", [hidenBadgeWhenActive]="true") {{ 'CLAIM_DETAILS.MESSAGES' | translate }}
            router-outlet
    aside.claim-details__messages(*ngIf="messagesVisible$ | async")
        a.claim-details__envelope(routerLink="./wiadomosci", [queryParams]="{ focus: 'keep' }")
            svg-icon(src="assets/icons/envelope.svg", [svgStyle]="{ 'width.px': '37', 'height.px': '29' }")
            span.claim-details__message-badge(*ngIf="unreadMessagesCount$ | async as unreadMessagesCount") {{ unreadMessagesCount }}
