.claims(*ngIf="claims?.length")
    pko-claim-tile.claims__tile(
        *ngFor="let claim of claims; trackBy: trackByClaimId",
        [claim]="claim",
        (selected)="selected.emit(claim.businessNumber)")
