.claims(*ngIf="claims?.length")
    pko-claim-tile(
        *ngFor="let claim of claims; trackBy: trackByClaimId",
        class="claims__tile",
        [claim]="claim",
        (selected)="selected.emit(claim.claimUUID)")

ng-template(#emptyClaimsTmpl)
    .claims__empty
        p.m-0 Brak zgłoszonych szkód
