@import 'bootstrap/tools';

.claims {
    margin-left: -10px;
    margin-right: -10px;

    &__empty {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    &__tile {
        margin: 10px;
    }

    @include media-breakpoint-down(sm) {
        margin-left: 0;
        margin-right: 0;

        &__tile {
            margin-left: 0;
            margin-right: 0;
        }
    }
}
