.nav-routing
    .nav-routing__tabs
        a.nav-routing__tab(
            *ngFor="let tab of tabs",
            [routerLink]="tab.link",
            routerLinkActive="nav-routing__tab--active",
            [routerLinkActiveOptions]="{ exact: true }"
        ) {{ tab.title }}
