@import 'variables';

.file {
    display: flex;
    align-items: center;

    &__self {
        display: flex;
        align-items: center;
    }

    &__icon {
        margin-right: 0.5rem;
    }

    &__name {
        color: $pko-primary;
        font-size: $pko-caption-size;
    }
}
