header.toolbar([class.toolbar--minified]="minified")
    .container.toolbar__container
        .toolbar__row(*ngIf="!minified; else minifiedToolbarRowTmpl", @toolbarAnimation)
            .toolbar__col-left
                a(routerLink="/").toolbar__logo
                    img.logo.logo--small(src="assets/pkou-logo.png", alt="PKO Ubezpieczenia")
                ul.toolbar__menu
                    li.toolbar__menu-item
                        a.toolbar__menu-link.link(routerLink="/", routerLinkActive="toolbar__menu-link--active") Moje szkody
                    li.toolbar__menu-item
                        a.toolbar__menu-link.link(routerLink="/ustawienia", routerLinkActive="toolbar__menu-link--active") Ustawienia
            .toolbar__col-right
                .toolbar__user-container(*ngIf="user")
                    pko-user-menu([user]="user")
                .toolbar__logout(role="button", (click)="logout.emit()")
                    img(src="assets/icons/power.svg", alt="Wyloguj")
                    .toolbar__logout-label.text.text--caption Wyloguj

ng-template(#minifiedToolbarRowTmpl)
    .toolbar__row.toolbar__row(@toolbarAnimation)
        pko-user-menu(*ngIf="user", [user]="user", [minified]="true")
        .toolbar__logo
            img.logo.logo--small(src="assets/pkou-logo.png", alt="PKO Ubezpieczenia", routerLink="/")
        .toolbar__logout(role="button", (click)="logout.emit()")
            img(src="assets/icons/power.svg", alt="Wyloguj")
