header.toolbar([class.toolbar--minified]="minified")
    .container.toolbar__container
        .toolbar__row(*ngIf="!minified; else minifiedToolbarRowTmpl", @toolbarAnimation)
            .toolbar__col-left
                a.toolbar__logo(routerLink="/")
                    img.logo.logo--small(src="assets/pkou-logo.png", [alt]="'ALL.PKOU' | translate")
                ul.toolbar__menu
                    li.toolbar__menu-item
                        a.toolbar__menu-link.link(routerLink="/", routerLinkActive="toolbar__menu-link--active", translate) TOOLBAR.MY_CLAIMS
            .toolbar__col-right
                .toolbar__user-container(*ngIf="user")
                    pko-user-menu([user]="user")
                .toolbar__logout(role="button", (click)="logout.emit()")
                    svg-icon(src="assets/icons/power.svg")
                    .toolbar__logout-label.text.text--caption(translate) TOOLBAR.LOGOUT

ng-template(#minifiedToolbarRowTmpl)
    .toolbar__row.toolbar__row(@toolbarAnimation)
        pko-user-menu(*ngIf="user", [user]="user", [minified]="true")
        a.toolbar__logo(routerLink="/")
            img.logo.logo--small(src="assets/pkou-logo.png", [alt]="'ALL.PKOU' | translate")
        .toolbar__logout(role="button", (click)="logout.emit()")
            svg-icon(src="assets/icons/power.svg")
