.timeline-group([class.timeline-group--minified]="minified")
    .timeline-group__left
        .timeline-group__list
            .timeline-group__unit(
                *ngFor="let tab of allTabs;let first = first",
                [class.timeline-group__unit--completed]="tab.timelineItem.done",
                [class.timeline-group__unit--active]="tabActive?.timelineItem.eventType === tab.timelineItem.eventType"
            )
                .timeline-group__connector(*ngIf="!first")
                    span.timeline-group__connection-line
                .timeline-group__tab((click)="onTabSelected(tab)")
                    .timeline-group__circle
                    .timeline-group__tab-body
                        .timeline-group__title {{ tab.timelineItem.name }}
                        .timeline-group__description(*ngIf="tab.timelineItem.eventDate") {{ tab.timelineItem.eventDate | date: 'EEE dd.MM.yy | H.mm' }}
    .timeline-group__content
        ng-template(cdkPortalOutlet)
