.timeline-group([class.timeline-group--minified]="minified")
    .timeline-group__left
        .timeline-group__list
            .timeline-group__unit(
                *ngFor="let tab of timeline; let last = last;",
                [class.timeline-group__unit--completed]="tab.done",
                [class.timeline-group__unit--disabled]="tab.eventType === EventType.END_PROCESS"
            )
                .timeline-group__tab((click)="onTabSelected(tab)")
                    span.timeline-group__circle
                    pko-timeline-tab-body.timeline-group__body([tab]="tab")
                .timeline-group__connector(*ngIf="!last")
                    span.timeline-group__connection-line
    .timeline-group__content(*ngIf="!minified")
        ng-container(*ngTemplateOutlet="contentTmpl")

ng-template(#contentTmpl)
    pko-timeline-content([selectedTab]="selectedTab", [minified]="minified", (interactionEvent)="interactionEvent.emit($event)")
