footer.container.footer
    .footer__body
        .footer__contact {{ 'FOOTER.PKOU' | translate }} {{ 'FOOTER.PHONE_NUMBER' | translate }}
        .footer__working-hours {{ 'FOOTER.OPEN_TIME' | translate }}
