@import 'bootstrap/tools';

.footer {
    &__body {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        padding: 1.5rem 0 1rem 0;
    }

    @include media-breakpoint-down(sm) {
        justify-content: center;
        text-align: center;
    }
}
