.textarea
    textarea.textarea__self.form-control([placeholder]="placeholder", [rows]="rows", [disabled]="disabled", [ngModel]="value", [maxLength]="max", (ngModelChange)="changed($event)")
    .textarea__info
        span.textarea__charsleft Pozostało znaków {{ charsLeft }} / {{ max }}
