@import 'variables';

html, body {
    height: 100%;
}

.ui {
    display: flex;
    flex-direction: column;
    height: 100%;

    &--app &__content {
        &--bottom-bar-showing {
            padding-bottom: $sm-bottom-menu-height + 12px;
        }
    }

    &__content {
        flex-grow: 1;
        padding: 2rem 0 1rem 0;
    }

    &__content > .container {
        height: 100%;
    }
}
