html, body {
    height: 100%;
}

.ui {
    display: flex;
    flex-direction: column;
    height: 100%;

    &--app &__content {
        &--bottom-bar-showing {
            padding-bottom: $sm-bottom-menu-height + 12px;
        }
    }

    &__content {
        flex-grow: 1;
        padding: 1.5rem 0 0 0;
    }

    &__content > .container {
        height: 100%;
    }

    &__footer {
        min-height: 45px;
    }
}

@include media-breakpoint-down(sm) {
    body, .ui {
        background: $pko-gray-2;
    }
}
