@import 'bootstrap/tools';
@import 'variables';

.text {
    &--bold {
        font-weight: bold;
    }

    &--caption {
        font-size: $pko-caption-size;
    }

    &--headline {
        font-size: $pko-headline-size;
    }

    &--subheader {
        font-size: $pko-subheader-size;
    }

    &--divider-bottom {
        border-bottom: 1px solid $pko-gray-4;
        padding-bottom: 1rem;
    }
}

@include media-breakpoint-down(sm) {
    h2, .h2, h4, .h4 {
        font-size: $pko-h5-size;
    }
}
