$pko-root-font: 'pkobp', Tahoma, sans-serif;
$pko-root-size: 16;
$pko-font-size: 15;

$pko-white: white;
$pko-black: black;

$pko-primary: #003574;
$pko-primary-light: #004c9a;
$pko-danger: #ca171d;
$pko-success: #39a935;
$pko-info: #db912c;

$pko-gray-1: #fafafa;
$pko-gray-2: #f2f2f2;
$pko-gray-3: #e5e5e5;
$pko-gray-4: #d5d5d5;
$pko-gray-5: #b7b7b7;
$pko-gray-6: #818181;
$pko-gray-7: #636363;

$pko-divider-color: #ebebeb;
$pko-control-border-color: #bababa;

$pko-border-radius: 4px;
$pko-control-height: 40px;

$pko-h1-size: 48px;
$pko-h2-size: 33px;
$pko-h3-size: 25px;
$pko-h4-size: 23px;
$pko-h5-size: 19px;
$pko-headline-size: 17px;
$pko-default-size: 15px;
$pko-default-smaller-size: 14px;
$pko-caption-size: 13px;

$sm-header-height: 70px;
$sm-bottom-menu-height: 72px;
