a.nav-tab([routerLink]="path", routerLinkActive="nav-tab--active", [routerLinkActiveOptions]="{ exact: true }")
    span.nav-tab__label
        span.nav-tab__badge(*ngIf="badge") {{ badge }}
        ng-content
