@import 'variables';
@import 'mixins';

.nav-tab {
    $self: &;

    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-right: 2rem;
    color: $pko-black;
    position: relative;

    &__label {
        position: relative;
    }

    &__badge {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: -20px;
        top: -12px;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        background-color: #ca171d;
        font-size: 11px;
        color: $pko-white;
    }

    &--active {
        &:before {
            @include make-menu-border;
        }

        &#{ $self }--badge-hidden #{ $self }__badge {
            display: none;
        }
    }

    &:hover {
        text-decoration: none;
    }
}
