@import 'bootstrap/tools';

.message-input {
    $self: &;

    display: flex;
    align-items: center;

    &__send {
        min-width: 128px;
        width: 128px;
    }

    &__quill {
        position: relative;
        width: calc(100% - 128px - 1.5rem);
        margin-right: 1.5rem;
    }

    &__toolbar {
        display: flex;
        align-items: center;
        border: none;
        position: absolute;
        right: 0;
        height: 100%;
        z-index: 1;
    }

    &__control {
        padding-right: 114px;
    }

    @include media-breakpoint-down(sm) {
        flex-direction: column;

        &__quill {
            width: 100%;
            margin: 0 0 1.5rem 0;

            &--warning {
                + #{ $self }__send {
                    margin-top: 0.5rem;
                }
            }
        }

        &__send {
            height: 48px;
            min-width: 100%;
        }
    }
}
