.timeline-content
    .timeline-content__selection(*ngIf="isSelected; else selectContentTmpl")
        pko-timeline-content-title([selectedTab]="selectedTab")
        p.timeline-content__description.my-3(*ngIf="selectedTab.description") {{ selectedTab.description }}
        ng-container([ngSwitch]="selectedTab.eventType")
            ng-container(*ngSwitchCase="EventType.SEND_DOCUMENT")
                pko-file-upload-zone(*ngIf="!selectedTab.done; else documentUploadSuccessTmpl", [fileFor]="selectedTab.name", [multiple]="true", (selected)="onInteractionEvent($event)")
            ng-container(*ngSwitchCase="EventType.SEND_ACCOUNT_NUMBER")
                pko-timeline-iban-form(*ngIf="!selectedTab.done; else accountSentSuccessTmpl", (submitted)="onInteractionEvent($event)")

ng-template(#selectContentTmpl)
    .timeline-content__empty
        .h3.timeline-content__empty-title(translate) TIMELINE.SELECT_TO_PROCEED

ng-template(#documentUploadSuccessTmpl)
    pko-document-upload-success([caption]="'FILE_UPLOAD.SUCCESS' | translate") {{ 'FILE_UPLOAD.THANK_YOU' | translate }}

ng-template(#accountSentSuccessTmpl)
    pko-document-upload-success([caption]="'TIMELINE.ACCOUNT_NUMBER_SUCCESS' | translate") {{ 'TIMELINE.ACCOUNT_NUMBER_THANK_YOU' | translate }}
