.timeline-content
    .timeline-content__selection(*ngIf="isSelected; else selectContentTmpl")
        pko-timeline-content-title(
            [selectedTab]="selectedTab",
            [closable]="minified",
            (dismiss)="dismiss.emit()")
        p.timeline-content__description.my-3(*ngIf="!selectedTab.done && selectedTab.description") {{ selectedTab.description }}
        ng-container([ngSwitch]="selectedTab.eventType")
            ng-container(*ngSwitchCase="EventType.SEND_DOCUMENT")
                pko-file-upload-zone(
                    *ngIf="!selectedTab.done; else documentUploadSuccessTmpl",
                    [fileFor]="selectedTab.name",
                    [multiple]="true",
                    [mobile]="minified",
                    (selected)="onInteractionEvent($event)")
            ng-container(*ngSwitchCase="EventType.DOCUMENT_SHARED")
                pko-document.mt-3(
                    [hrefToGet]="selectedTab.links | documentHref: DocumentLinkRel.TimelineSharedDocument",
                    [filename]="selectedTab.name")
            ng-container(*ngSwitchCase="EventType.SEND_ACCOUNT_NUMBER")
                pko-timeline-iban-form(*ngIf="!selectedTab.done; else accountSentSuccessTmpl", (submitted)="onInteractionEvent($event)")

ng-template(#selectContentTmpl)
    .d-flex.align-items-center.flex-column
        .h3.timeline-content__empty-title(translate) TIMELINE.SELECT_TO_PROCEED
        svg-icon(src="assets/icons/easel.svg", [svgStyle]="{ 'height.px': '140', 'width.px': '140' }")

ng-template(#documentUploadSuccessTmpl)
    ng-container([ngSwitch]="recentlyDone")
        pko-document-upload-success(
            *ngSwitchCase="true",
            [caption]="'FILE_UPLOAD.SUCCESS' | translate") {{ 'FILE_UPLOAD.THANK_YOU' | translate }}
        pko-document-upload-success(*ngSwitchDefault) {{ 'TIMELINE.TASK_DONE' | translate }}

ng-template(#accountSentSuccessTmpl)
    ng-container([ngSwitch]="recentlyDone")
        pko-document-upload-success(
            *ngSwitchCase="true",
            [caption]="'TIMELINE.ACCOUNT_NUMBER_SUCCESS' | translate") {{ 'TIMELINE.ACCOUNT_NUMBER_THANK_YOU' | translate }}
        pko-document-upload-success(*ngSwitchDefault) {{ 'TIMELINE.TASK_DONE' | translate }}
