.timeline-content
    .timeline-content__selection(*ngIf="isSelected; else selectContentTmpl")
        pko-timeline-content-title([selectedTab]="selectedTab", [closable]="minified", (dismiss)="dismiss.emit()")
        p.timeline-content__description.my-3(*ngIf="selectedTab.description") {{ selectedTab.description }}
        ng-container([ngSwitch]="selectedTab.eventType")
            ng-container(*ngSwitchCase="EventType.SEND_DOCUMENT")
                pko-file-upload-zone(
                    *ngIf="!selectedTab.done; else documentUploadSuccessTmpl",
                    [fileFor]="selectedTab.name",
                    [multiple]="true",
                    [mobile]="minified",
                    (selected)="onInteractionEvent($event)")
            ng-container(*ngSwitchCase="EventType.SHARED_DOCUMENT")
                pko-document.mt-3(
                    [hrefToGet]="selectedTab.links | documentHref: DocumentLinkRel.TimelineSharedDocument",
                    [filename]="selectedTab.name")
            ng-container(*ngSwitchCase="EventType.SEND_ACCOUNT_NUMBER")
                pko-timeline-iban-form(*ngIf="!selectedTab.done; else accountSentSuccessTmpl", (submitted)="onInteractionEvent($event)")

ng-template(#selectContentTmpl)
    .d-flex.align-items-center.flex-column
        .h3.timeline-content__empty-title(translate) TIMELINE.SELECT_TO_PROCEED
        img(src="assets/icons/easel.svg", [alt]="'TIMELINE.SELECT_TO_PROCEED' | translate", height="140")

ng-template(#documentUploadSuccessTmpl)
    pko-document-upload-success([caption]="'FILE_UPLOAD.SUCCESS' | translate") {{ 'FILE_UPLOAD.THANK_YOU' | translate }}

ng-template(#accountSentSuccessTmpl)
    pko-document-upload-success([caption]="'TIMELINE.ACCOUNT_NUMBER_SUCCESS' | translate") {{ 'TIMELINE.ACCOUNT_NUMBER_THANK_YOU' | translate }}
