header.toolbar
    .container
        .toolbar__row
            h1.toolbar__title.text--bold Rejestracja poszkodowanego
            img.toolbar__logo.logo.logo--medium(src="/assets/pkou-logo.png", alt="PKO Ubezpieczenia")
