.messenger
    .messenger__scrollable(#scrollable)
        ng-container(*ngIf="messages?.length; else emptyMessengerTmpl")
            ng-container(*ngFor="let message of messages; trackBy: trackByMessage; index as i")
                ng-container([ngSwitch]="i | isNewMessage: messages.length: unreadMessagesCount")
                    pko-messenger-announcement(*ngSwitchCase="true", [info]="true") {{ 'MESSAGES.NEW_MESSAGES' | translate }}
                    ng-container(*ngSwitchDefault)
                        pko-messenger-announcement(*ngIf="message | isAnotherDay: messages[i - 1]") {{ messages[i - 1] | fromToday }}
                pko-message.messenger__msg(
                    [message]="message",
                    [config]="message | messageConfig: messages[i + 1]: messages[i - 1]")
    .messenger__draft
        pko-message-input((send)="sendMessage.emit($event)", [focusMessageInput]="focusMessageInput")

ng-template(#emptyMessengerTmpl)
    .messenger__empty
        .messenger__empty-label(translate) MESSAGES.EMPTY
