@import 'variables';

.messages {
    border-collapse: collapse;
    width: 100%;

    &__head-cell,
    &__body-cell {
        border-bottom: 1px solid $pko-divider-color;

        &:not(:last-child) {
            border-right: 1px solid $pko-divider-color;
        }
    }

    &__head-cell {
        font-size: $pko-caption-size;
        font-weight: normal;
        padding: 5px 30px 15px 30px;

        &--date {
            width: 1px;
        }
    }

    &__body-cell {
        &--date {
            padding: 15px 30px;
            vertical-align: top;
        }
    }
}
