@import 'variables';

.calendar {
    border: 1px solid $pko-gray-3;
    border-radius: $pko-border-radius;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 3px 10px;
    user-select: none;

    &__day,
    &__month {
        color: $pko-gray-7;
        line-height: normal;
    }

    &__day {
        font-size: 16px;
        font-weight: bold;
    }

    &__month {
        font-size: $pko-caption-size - 1px;
        text-transform: uppercase;
    }
}
