@import 'variables';

:host {
    position: relative;
    cursor: pointer;
    outline: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    min-height: 44px;
    padding: 0 15px;

    &.selected .option-label {
        color: $pko-primary;
    }

    .option-label {
        display: inline-block;
        flex-grow: 1;
        transition: color .2s linear;
    }

    &:not(.selected):hover .option-label {
        color: $pko-black;
    }
}
