.message(
    [class.message--slf]="isSelf",
    [class.message--btw]="isBetween",
    [class.message--bfs]="isLastBeforeSquashed",
    [class.message--sqh]="isSquashed")
    .message__inner
        .message__avatar(*ngIf="!isSquashed", [ngSwitch]="isSelf")
            ng-container(*ngSwitchCase="true")
                svg-icon(src="assets/icons/avatar.svg", [svgStyle]="{ 'width.px': '24', 'height.px': '24' }" )
            ng-container(*ngSwitchCase="false")
                img(src="assets/icons/pko-small.png", height="24")
        .message__container
            .message__cloud
                .message__body([innerHTML]="message.body | sanitizer")
            span.message__time(*ngIf="!isSquashed") {{ message.postDate | date: 'HH:mm' }}
