.message(
    [class.self]="isSelf",
    [class.between]="isBetween",
    [class.last-before-squashed]="isLastBeforeSquashed",
    [class.squashed]="isSquashed")
    .message__inner
        .message__avatar(*ngIf="!isSquashed") {{ message.partyName | initials }}
        .message__container
            .message__cloud
                .message__body {{ message.body }}
            span.message__time(*ngIf="!isSquashed") {{ message.postDate | date: 'HH:mm' }}
