.signup-ok
    .signup-ok__body
        .signup-ok__icon
            svg-icon(src="assets/icons/green-check.svg")
        h4.signup-ok__title(translate) AUTH.VERIFICATION_SUCCESS
        p.signup-ok__description.text.text--caption(translate) AUTH.VERIFICATION_SUCCESS_INFO
    .signup-ok__footer
        a.signup-ok__login.btn.btn-primary(routerLink="/login", translate) AUTH.RETURN_TO_LOGIN
