.signup-ok
    .signup-ok__body
        .signup-ok__icon
            img(src="assets/icons/green-check.svg", alt="OK")
        h4.signup-ok__title Rejestracja przebiegła pomyślnie
        p.signup-ok__description.text.text--caption Twoje dane zostały do nas poprawnie przesłane. Możesz się już zalogować do aplikacji śledzącej likwidacji szkody za pomocą nowego kodu PIN
    .signup-ok__footer
        button.signup-ok__login.btn.btn-primary(routerLink="/logowanie") Przejdź do aplikacji

