.ui.ui--signin
    pko-login-toolbar
    .ui__content.signin
        .container
            .signin__form-container
                pko-login-form([error]="error$ | async", (submitted)="authorize($event)", (flush)="flush()")
    .ui__footer
        pko-footer
