.ui.ui--signin
    pko-login-toolbar
    .ui__content.signin
        .container
            .signin__top
                .row
                    .col-md-6
                        .signin__form-container
                            pko-login-form((submitted)="authorize($event)")
                    .col-md-6
