.error-dialog
    svg-icon(src="assets/icons/error_cross.svg")
    .h3.error-dialog__message.mb-4(translate) ERROR.UNEXPECTED
    button.btn.btn-primary.error-dialog__ok(type="button", (click)="dismiss()", translate) ALL.OK
