.document-success
    .document-success__icon
        svg-icon(src="assets/icons/green-check.svg", [svgStyle]="{ 'width.px': '75', 'height.px': '46' }")
    .h3.mt-4.mb-3
        ng-content
    p.text.text--caption(*ngIf="caption") {{ caption }}
