.documents.row
    section.col-12.mb-4
        h5.text.text--divider-bottom.mb-3(translate) DOCUMENTS.SHARED_DOCUMENTS
        pko-document.mb-2(
            *ngFor="let document of staticDocuments$ | async as staticDocuments",
            [filename]="'DOCUMENT_TYPE.' + document.documentType | translate",
            [hrefToGet]="document.links | documentHref: DocumentRelGet",
            [postDate]="document.createDate")
        .mt-4
            button.btn.btn-primary(type="button", translate, (click)="addDocumentOpened = !addDocumentOpened") DOCUMENTS.ADD
            .documents__drop-zone-bg.mt-4(*ngIf="addDocumentOpened")
                .h5.mb-4(translate) DOCUMENTS.ADD_TITLE
                pko-file-upload-zone(
                    fileFor="add_new_document",
                    [withDocumentType]="true",
                    [multiple]="true",
                    [documentTypes]="documentTypes$ | async",
                    [mobile]="mobile$ | async",
                    (selected)="onDocumentDropped($event)")
    section.col-12.mb-4
        ng-container(*ngIf="sharedDocuments$ | async as sharedDocuments")
            ng-container(*ngIf="sharedDocuments.length")
                h5.text.text--divider-bottom.mb-3(translate) DOCUMENTS.STATIC_DOCUMENTS
                pko-document.documents__static-file.mb-2(
                    *ngFor="let document of sharedDocuments",
                    [filename]="document.name",
                    [postDate]="document.createDate",
                    [hrefToGet]="document.links | documentHref: DocumentRelGet")
