.row
    .col-12.mb-4
        h5.text.text--divider-bottom.mb-3 Dodane przez Ciebie dokumenty
        pko-document-upload-row([files]="['Oswiadczenie.docx']") Oświadczenie spisane na miejscu zdarzenia bądź notatka z policji
        pko-document-upload-row([files]="['Polisa1.pdf', 'Polisa2.pdf']" ) Kopia polisy
    .col-12.mb-4
        h5.text.text--divider-bottom.mb-3 Zapoznaj się proszę z następującymi dokumentami:
        pko-file.d-block.mb-3(name="Ogólne Warunki Ubezpieczenia.pdf")
        pko-file.d-block.mb-3(name="Wyłączenia z ubezpieczeń.pdf")
        pko-file.d-block.mb-3(name="Zgoda na przetwarzanie danych osobowych.pdf")
        pko-file.d-block(name="Informacja o administratorze danych osobowych.pdf")
