.row
    .col-12.mb-4
        h5.text.text--divider-bottom.mb-3 Potrzebujemy od Ciebie następujących dokumentów:
        pko-document-upload-row(fileFor="dowod_rejestracyjny", [multiple]="true") Obustronna kopia dowodu rejestracyjnego pojazdu
        pko-document-upload-row(fileFor="zdjecia_zdarzenia", [multiple]="true") Zdjęcia z miejsca zdarzenia
    .col-12.mb-4
        h5.text.text--divider-bottom.mb-3 Przesłałeś nam już następujące dokumenty
        pko-document-upload-row([files]="['Oswiadczenie.docx']") Oświadczenie spisane na miejscu zdarzenia bądź notatka z policji
        pko-document-upload-row([files]="['Polisa1.pdf', 'Polisa2.pdf']" ) Kopia polisy
    .col-12.mb-4
        h5.text.text--divider-bottom.mb-3 Zapoznaj się proszę z następującymi dokumentami:
        pko-file.d-block.mb-3(name="Ogólne Warunki Ubezpieczenia.pdf")
        pko-file.d-block.mb-3(name="Wyłączenia z ubezpieczeń.pdf")
        pko-file.d-block.mb-3(name="Zgoda na przetwarzanie danych osobowych.pdf")
        pko-file.d-block(name="Informacja o administratorze danych osobowych.pdf")
