@import 'variables';
@import 'bootstrap/tools';

:host {
    cursor: pointer;
    user-select: none;
    display: inline-block;
    border: 1px solid $pko-gray-3;
    border-radius: $pko-border-radius;
    background-color: #f9f9f9;
    width: 285px;
    height: 120px;
    padding: 12px;

    &:focus {
        outline: none;
        border-color: $pko-primary;
    }

    @include media-breakpoint-down(sm) {
        width: 100%;
    }
}

.claim {
    &__badge {
        display: inline-block;
        font-size: 11px;
        background: $pko-gray-3;
        border: 1px solid #dcdcdc;
        border-radius: 2px;
        padding: 0 4px;
    }

    &__id {
        margin: 8px 0 4px 0;
        font-size: $pko-caption-size;
        color: $pko-primary;
        line-height: 1.2;
        text-transform: uppercase;
    }

    &__details {
        font-size: 11px;
        color: $pko-gray-7;
    }
}
