.claim
    .claim__body
        .claim__type(translate) {{ 'CLAIM_TYPE.' + claim.claimType | translate }}
        .claim__id {{ claim.claimUUID }}
        .claim__vehicle {{ claim.details }}
            
