form.pin-control([formGroup]="form")
    .pin-control__title.h2
        ng-content
    .pin-control__pass(formArrayName="pin")
        pko-pin-cell(*ngFor="let control of pin.controls;", [control]="control")
