.pin-control([formGroup]="form")
    .pin-control__pass(formArrayName="pin")
        pko-pin-cell.pin-control__cell(
            *ngFor="let control of pin.controls",
            [control]="$any(control)",
            [class]="size"
        )
