@import 'variables';

.pin-cell {
    width: 55px;
    height: 72px;
    border-radius: 0;
    border-color: $pko-gray-4;
    box-shadow: inset 2px 0 3px 0 $pko-gray-5;
    text-align: center;
    font-size: $pko-h3-size;
    margin: 0.75rem;
}
