form.message-form([formGroup]="form", novalidate, (ngSubmit)="send.emit(form.value)")
    .row
        .col-md-4.form-group(*ngIf="withSubject")
            label Temat wiadomości
            pko-select(formControlName="subject", placeholder="Wybierz temat wiadomości")
                pko-option(value="szkoda") Temat Wiadomości 1
                pko-option(value="szkoda2") Temat Wiadomości 2
                pko-option(value="szkoda3") Temat Wiadomości 3
        .col-12.form-group
            pko-textarea(formControlName="body", placeholder="Treść Twojej odpowiedzi", [rows]="8")
    .message-form__actions
        button.message-form__btn.message-form__btn--cancel.btn.btn-light(type="button", (click)="cancel.emit()") Anuluj
        button.message-form__btn.message-form__btn--send.btn.btn-primary(type="submit") Wyślij
