@import 'bootstrap/tools';
@import 'variables';

.message-form {
    &__actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__btn {
        margin-left: 1.5rem;
    }

    @include media-breakpoint-down(sm) {
        &__actions {
            flex-direction: column-reverse;
        }

        &__btn {
            width: 100%;
            margin: 0 0 1rem 0;
        }
    }
}
