@import 'bootstrap/tools';
@import 'variables';

.thread {
    padding: 24px 0 24px 30px;

    &--showing &__arrow {
        transform: rotate(-180deg);
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }

    &__subject {
        font-weight: bold;
        font-size: 15px;
    }

    &__arrow {
        user-select: none;
        transition: transform .1s linear;
    }

    @include media-breakpoint-down(sm) {
        padding-left: 15px;
    }
}
